.clearfix {
	clear: both;
}
ul.list-unstyled h2, ul.list-inline h2 {
    font-family: sans-serif !important;
}
.panel-image a img {
    text-align: center;
}
.photo-card {
    height: 513px;
}
.photo-card .panel-image img {
    height: 428px;
}
.back_page {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: right;
}
.back_page a.btn_back_page {
	background: #01bebf;
	border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #01bebf;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    outline: none;
    padding: 0;
    text-shadow: none;
    box-shadow: none;
    text-align: center;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.back_page a.btn_back_page > span {
    position: relative;
    pointer-events: none;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}
.row-container {
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    margin: 0 20px;
    padding: 0;
    position: relative;
}
.row-fluid {
    margin-left: -30px;
    width: auto;
}
@media (min-width: 1200px){}
	.row-fluid {
	    width: 100%;
	}
}
.wd_border_left {
	
}
.wd_border_right {

}
.txt_input {
	margin: 10px 0;
}
.wd_sl {
	margin: 10px 0;
	height: 20px;
}
.btn_save {
	margin-bottom: 30px;
    margin-top: 30px;
}
.divination_column {
	margin: 10px 0;
    text-align: center;
}
.wedding_container {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.wd_detail_header {
    font-size: 20px;
    color: green;
}
.xanh , .vang , .den , .do , .trang{
    width : 40px;
    height: 20px;
    border: 1px solid black;
    display: block;float:left
}
.xanh{
    background: blue;
}
.vang{
    background: yellow;
}
.do{
    background: red;
}
.den{
    background: black;
}
.trang{
    background: white;
}




